<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="OUTPUT_PATH" value="C:\Users\v-smekarthi\source\repos\Ticket Processing\Ticket Processing\outfolder\test.txt" />
	</appSettings>
</configuration>